nextcloud.k8s.nori.ninja {
    reverse_proxy {
            to node0:30454 node1:30454 node2:30454 node3:30454 node4:30454 node5:30454 node6:30454 worker0:30454 worker1:30454 worker2:30454 zstation:30454

            lb_policy round_robin
            lb_retries 2

            health_uri /status.php
            health_interval 5s
            health_timeout 2s
            health_status 2xx
	}
}

rpeg.io {
    reverse_proxy {
            to node0:32676 node1:32676 node2:32676 node3:32676 node4:32676 node5:32676 node6:32676 worker0:32676 worker1:32676 worker2:32676 zstation:32676

            lb_policy round_robin
            lb_retries 2

            health_uri /
            health_interval 5s
            health_timeout 2s
            health_status 2xx
	}
}

